version: '3.8'

services:
  # --- API PYTHON (ML) ---
  api-python:
    # Aponta para a pasta onde está o Dockerfile do Python
    build: ./ml-api

    container_name: tcc-ml-api

    # IMPORTANTE: Usamos 'python -m' para garantir que ache o uvicorn no Linux
    command: python -m uvicorn app:app --host 0.0.0.0 --port 8000

    # Mapeia a porta 8000 do container para a 8000 do seu PC
    ports:
      - "8000:8000"

    networks:
      - tcc-network

# Cria a rede (mesmo com 1 serviço, é bom manter para quando adicionar o Java)
networks:
  tcc-network:
    driver: bridge