version: '3.8'

services:
  # Serviço 1: API Python (Machine Learning)
  ml-api:
    build: ./ml-api  # Caminho para a pasta do Python
    container_name: ml-api-container
    ports:
      - "8000:8000"
    networks:
      - minha-rede-tcc

  # Serviço 2: Backend Java (Spring Boot)
  spring-app:
    build: ./spring-app # Caminho para a pasta do Java
    container_name: spring-app-container
    ports:
      - "8080:8080"
    environment:
      # AQUI ESTÁ A MÁGICA:
      # Em vez de 'localhost', usamos o NOME DO SERVIÇO do Python ('ml-api')
      - ML_API_URL=http://ml-api:8000/predict
    depends_on:
      - ml-api
    networks:
      - minha-rede-tcc

networks:
  minha-rede-tcc:
    driver: bridge